<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
      ::placeholder{
        color: #588FE8;
      }
      ::-webkit-scrollbar{
        background-color: white
      }
      ::-webkit-scrollbar-thumb{
        background-color: gray;
        width: 2px;
        border-radius: 20px;
      }
    </style>
  </head>
  <body style="background-color: rgb(88, 143, 232); margin: 0px; font-family: open sans">
    <button style="width: 20px; position: absolute; top: 5px; left:5px; width: 150px; height: 30px; border-radius: 7px; color: #588FE8; background-color: white; text-align: center; font-family: open sans; border: none; margin: 10px;" onclick="resetCashe()">Reset Data Cache</button>
    <center>
    <div id="msg-wrapper" style="width: 300px; height: 550px; border-radius: 15px; box-shadow: 0 0 20px rgba(88, 143, 232, 0.4); position: absolute; top: 50%;margin-top: -275px; left: 50%; margin-left: -150px; display: flex; flex-direction: column; background-color: white;">
      <img src="https://docs.google.com/drawings/d/e/2PACX-1vRoanSP0P69dd6KsuqqU_-fuVfWRyQDq53_Zam6mKQHo21nYQiBrjMjaUNUV7-CjVPfsZ04TJSFQgZl/pub?w=1353&h=188" style="width: 85%; margin-top: 15px; margin-bottom: 15px;">
      <input id="clientName" type="text" placeholder="Your Name" style="width: 90%; height: 35px; border-radius: 15px; background-color: transparent; text-align: center;color: #588FE8; border: 1px solid #588FE8; box-shadow: 0 0 10px rgba(88, 143, 232, 0.4); margin-bottom: 10px;">
      <div id="posts" style="height: 390px; overflow: auto; margin-bottom: 10px; width: 80%; margin-left: 8%; text-align: left; padding-left: 10px;"></div>
    <form id="message-container">
      <input id="postContent" type="text" placeholder="Type your post" style="width: 90%; height: 35px; border-radius: 15px; background-color: transparent; text-align: center;color: #588FE8; border: 1px solid #588FE8; box-shadow: 0 0 10px rgba(88, 143, 232, 0.4); margin-bottom: 10px;">
      <button type="submit" style="width: 90%; height: 35px; border-radius: 15px; background-color: #588FE8; color: white; border: none; box-shadow: 0 0 10px rgba(88, 143, 232, 0.4); margin-bottom: 10px;">Post your post</button>
    </form>
    </div>
    </center>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io()
    var prompt = prompt("What is your name?")
    appendMessage(prompt)
    const messageContainer = document.getElementById('posts')
    const messageForm = document.getElementById('message-container')
    const messageInput = document.getElementById('postContent')
    socket.on('chat-message', (data) => {
      appendMessage(data)
    })

    messageForm.addEventListener('submit', (e) => {
      e.preventDefault()
      const message = messageInput.value
      socket.emit('send-chat-message', message)
      messageInput.value = ''
    })

    function appendMessage(message) {
      const messageElement = document.createElement("div")
      messageElement.textContent = message
      messageContainer.append(messageElement)
    }
  </script>
</html>