<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
      ::placeholder{
        color: #588FE8;
      }
      ::-webkit-scrollbar{
        background-color: white
      }
      ::-webkit-scrollbar-thumb{
        background-color: gray;
        width: 2px;
        border-radius: 20px;
      }
    </style>
  </head>
  <body style="background-color: rgb(88, 143, 232); margin: 0px; font-family: open sans">
    <button style="width: 20px; position: absolute; top: 5px; left:5px; width: 150px; height: 30px; border-radius: 7px; color: #588FE8; background-color: white; text-align: center; font-family: open sans; border: none; margin: 10px;" onclick="alert('Version 1.6.8')">Version 1.6.8</button>
    <center>
    <div id="msg-wrapper" style="width: 300px; height: 550px; border-radius: 15px; box-shadow: 0 0 20px rgba(88, 143, 232, 0.4); position: absolute; top: 50%;margin-top: -275px; left: 50%; margin-left: -150px; display: flex; flex-direction: column; background-color: white;">
      <img src="https://docs.google.com/drawings/d/e/2PACX-1vRoanSP0P69dd6KsuqqU_-fuVfWRyQDq53_Zam6mKQHo21nYQiBrjMjaUNUV7-CjVPfsZ04TJSFQgZl/pub?w=1353&h=188" style="width: 85%; margin-top: 15px; margin-bottom: 15px;">
      <div id="posts" style="height: 390px; overflow: auto; margin-bottom: 10px; width: 80%; margin-left: 8%; text-align: left; padding-left: 10px;"></div>
      <p style="font-size: 13px; display: none;" id="typing">Someone is typing...</p>
    <form id="message-container">
      <input id="postContent" type="text" placeholder="Type your post" style="width: 90%; height: 35px; border-radius: 15px; background-color: transparent; text-align: center;color: #588FE8; border: 1px solid #588FE8; box-shadow: 0 0 10px rgba(88, 143, 232, 0.4); margin-bottom: 10px;">
      <button type="submit" style="width: 90%; height: 35px; border-radius: 15px; background-color: #588FE8; color: white; border: none; box-shadow: 0 0 10px rgba(88, 143, 232, 0.4); margin-bottom: 10px;">Post your post</button>
    </form>
    </div>
    <div id="overlay-nickname-wrapper" style="width: 100vw; height: 100vh;background-color: rgba(0, 0, 0, 0.4); position: fixed; top: 0px; left: 0px; z-index: 10;">
      <div style="width: 250px; height: 150px; background-color: white; position: absolute; top: 50%; margin-top: -120px; left: 50%; margin-left: -140px; border-radius: 7px; padding: 15px;">
        <h1 style="font-family: open sans; font-size: 20px; color: #588FE8; margin-bottom: 5px;">Welcome to AirMessage!</h1>
        <form id="username-check">
          <input id="clientName" type="text" style="width: 230px; border: none; border-bottom: 3px solid #588FE8; padding: 10px; font-family: open sans; padding-left: 2px; outline: none;" placeholder="What's your username?">
          <button type="submit" style="width: 200px; height: 30px; border-radius: 15px; background-color: #588FE8; color: white; border: none; box-shadow: 0 0 10px rgba(88, 143, 232, 0.4); margin-bottom: 10px; margin-top: 20px;">Open Chat</button>
        </form>
      </div>
    </div>
    </center>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io()
    const messageContainer = document.getElementById('posts')
    const messageForm = document.getElementById('message-container')
    const usernameForm = document.getElementById('username-check')
    const messageInput = document.getElementById('postContent')
    usernameForm.addEventListener('submit', (e) => {
      e.preventDefault()
      var name = document.getElementById('clientName').value
      socket.emit('new-user', name)
      appendMessage('You joined', name)
      document.getElementById('overlay-nickname-wrapper').style.display = "none";
    })

    messageInput.addEventListener('keyup', () => {
      var name = document.getElementById('clientName').value
      socket.emit('user-typing', name)
    })

    socket.on('chat-message', (data, name) => {
      document.getElementById('typing').style.display = "none"
      appendMessage(data, name)
    })

    socket.on('user-is-typing', (name) => {
      document.getElementById('typing').style.display = "block"
      document.getElementById('typing').innerHTML = name + " is typing..."
    })

    socket.on('user-connected', (name) => {
      appendMessage(`${name} joined.`, name)
    })

    socket.on('user-disconnected', (name) => {
      appendMessage(`${name} left the chat`, name)
    })
  
    messageForm.addEventListener('submit', (e) => {
      e.preventDefault()
      const message = messageInput.value
      var name = document.getElementById('clientName').value
      socket.emit('send-chat-message', message, name)
      messageInput.value = ''
    })

    function appendMessage(message, name) {
      const clientName = document.createElement('p')
      clientName.innerHTML = name
      clientName.style.color = "#588FE8"
      clientName.style.marginTop = "20px"
      clientName.style.marginBottom = "3px"
      clientName.style.fontSize = "13px"
      messageContainer.append(clientName)
      const messageElement = document.createElement("p")
      messageElement.textContent = message
      messageElement.style.marginTop = "0px"
      messageContainer.append(messageElement)
    }
  </script>
</html>